<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h2>Book List</h2>
<h2>Kako se možete uključiti?</h2>
<p>Pozivamo vas da se pridružite našim aktivnostima i postanete dio
naše zajednice! Učlanite se u naše projekte,učestvujte u  radionicama ili
se angažujte kao volonter.Vše podrška je ključna za naš zajednički uspjeh,
a svaka nova članica donosi svježinu i energiju koja jača misiju.</p>
<a href="hello.html">Back to Home</a>
</body>
</html>